// .video-background-two,
// .video-background {
//   background: #000;
//   position: relative;
// 	padding-bottom: 56.25%; /* 16:9 */
// 	margin-top: 25px;
// 	height: 0;
//   z-index: -99;
//   -moz-box-shadow:    inset 0 0 10px #000000;
//   -webkit-box-shadow: inset 0 0 10px #000000;
//   box-shadow:         inset 0 0 10px #000000;
//   &::after {
//     display: block;
//     content: '';
//     position: absolute;
//     width: 75vw;
//     height: 75vh;
//     z-index: 1;
//     background: rgba(0, 0, 0, 0.75);
//     opacity: 0.5;
//   }
// }
.video-foreground,
.video-foreground-two,
.video-background-two iframe,
.video-background iframe {
  width: 100vw; // GOOD ONE
  height: 56.25vw; /* height:width ratio = 9/16 = .5625  */ //GOOD ONE
  // width: 400vw;
  // height: 225vw; /* height:width ratio = 9/16 = .5625  */
  background: black;
  // max-height: 100vh;
  // max-width: 177.78vh; /* 16/9 = 1.778 */
  // margin-top: -100vh;
  pointer-events: none;
}

.video-background iframe,
.video-background-two iframe {
  width: 100%;
  // position: fixed;
}

.video-foreground,
.video-foreground-two {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.video-foreground,
.video-background {
  float:left;
  width:75vw;
  overflow: hidden;
}

.video-foreground-two,
.video-background-two {
  float:right;
  width:75vw;
  overflow: hidden;
}

.logo-wrapper {
  z-index: 1;
  max-width: 300px;
  width: 100%;
  max-height: 500px;
  height: auto;
  margin: 20px auto;
  position: relative;
  height: 400px;
  .logo {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    -webkit-filter: drop-shadow(5px 5px 5px #000);
    filter: drop-shadow(5px 5px 5px #000);
  }
}

.custom-bg {
  width: 200%;
  height: 100vh;
  margin-left: -50%;
  margin-top: -10%;
  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 200vw;
    height: 200vh;
    z-index: 1;
    background: -moz-linear-gradient(45deg, rgba(48, 97, 172,0.75) 0%, rgba(48, 97, 172,0.3) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(48, 97, 172,0.75) 0%,rgba(48, 97, 172,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(48, 97, 172,0.75) 0%,rgba(48, 97, 172,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3061ac', endColorstr='#3061ac',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

.splatter-bottom {
  background-color: black;
  width: 100%;
  height: 100px;
  margin-top: -40px;
  z-index: 0;
  position: relative;
  // background-repeat: repeat-x;
  transform: rotate(-1.3deg);
  // background-position: center;
  opacity: 1;
}

.splatter-top {
  margin-top: -80px;
  background-color: black;
  width: 100%;
  height: 100px;
  z-index: 1;
  position: absolute;
  // background-repeat: repeat-x;
  transform: rotate(1.3deg);
  // background-position: center;
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .react-parallax,
  .splatter-top,
  .splatter-top2,
  .splatter-bottom,
  .splatter-bottom2 {
    display: none;
  }
}

.image-wrapper {
  overflow: hidden;
  .logo {
    margin: 40px auto !important;
  }
}
